<section class="hero is-warning is-small">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <%= link_to root_path, class: "navbar-item" do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 491.24"><path fill="#D3853A" fill-rule="nonzero" d="M101.37 486.26c-27.28 0-44.21-6.18-45.84-36.27l-.05-188.27c-21.63-11.44-35.45-25.65-43.94-40.84-9.5-17-12.11-34.9-11.44-51.44 2.06-50.76 29.57-91.33 71.23-119.71 39.82-27.12 92.78-43 148.4-45.71 17.7-2.73 35.93-4.09 54.32-4.02 60.76.26 117.67 14.8 160.57 42.91 40.52 26.56 68.68 65.04 76.32 114.92 2.86 18.64.32 40.27-12.45 61.06v.05c-9.05 14.74-23.27 28.96-44.41 41.14v193.15c0 .92-.1 1.82-.28 2.69-4.13 26.42-20.32 33.11-43.26 34.06-98.06 3.93-209.63-2.45-309.17-3.72z"/><path fill="#FFCF6D" d="M498.32 159.73c4.45 29.04-6.31 66.53-57.01 92.82v193.18c-2.78 19.14-11.76 24.04-36.57 24.15H137.05c-28.24-.54-32.15-6.5-33.12-24.15V250.22c-46.47-21.49-56.6-54.89-55.42-83.88C52.45 69.26 159.65 12.24 274 12.73c111.95.48 209.61 51.01 224.32 147z"/><path fill="#E7B755" d="M300.34 74.64c10.89 0 19.71 8.83 19.71 19.71 0 10.89-8.82 19.72-19.71 19.72s-19.72-8.83-19.72-19.72c0-10.88 8.83-19.71 19.72-19.71zM191.02 64.51c8.95 0 16.2 7.26 16.2 16.2 0 8.95-7.25 16.2-16.2 16.2-8.94 0-16.19-7.25-16.19-16.2 0-8.94 7.25-16.2 16.19-16.2zm44.2 318.91c15.28 0 27.66 12.39 27.66 27.67 0 15.28-12.38 27.66-27.66 27.66s-27.67-12.38-27.67-27.66 12.39-27.67 27.67-27.67zm-91.98 18.08c7.53 0 13.63 6.1 13.63 13.63 0 7.52-6.1 13.63-13.63 13.63-7.52 0-13.62-6.11-13.62-13.63 0-7.53 6.1-13.63 13.62-13.63zm225.62-67.92c12.67 0 22.94 10.27 22.94 22.94 0 12.67-10.27 22.94-22.94 22.94-12.67 0-22.94-10.27-22.94-22.94 0-12.67 10.27-22.94 22.94-22.94zm-54.58 67.66c10.89 0 19.72 8.82 19.72 19.71 0 10.88-8.83 19.71-19.72 19.71-10.88 0-19.71-8.83-19.71-19.71 0-10.89 8.83-19.71 19.71-19.71zm31.6-193.87c21.17 0 38.33 17.17 38.33 38.34s-17.16 38.33-38.33 38.33c-21.17 0-38.33-17.16-38.33-38.33 0-21.17 17.16-38.34 38.33-38.34zm-79.12 92.47c8.94 0 16.2 7.25 16.2 16.2 0 8.94-7.26 16.19-16.2 16.19s-16.2-7.25-16.2-16.19c0-8.95 7.26-16.2 16.2-16.2zm-88.41-46.98c16.12 0 29.19 13.06 29.19 29.18 0 16.12-13.07 29.19-29.19 29.19s-29.19-13.07-29.19-29.19 13.07-29.18 29.19-29.18zm37.31-117.45c15.28 0 27.66 12.39 27.66 27.66 0 15.28-12.38 27.67-27.66 27.67s-27.67-12.39-27.67-27.67c0-15.27 12.39-27.66 27.67-27.66zm-84.44-2.15c7.52 0 13.62 6.1 13.62 13.63 0 7.53-6.1 13.63-13.62 13.63-7.53 0-13.63-6.1-13.63-13.63 0-7.53 6.1-13.63 13.63-13.63zm275.9 8.28c12.67 0 22.94 10.27 22.94 22.94 0 12.68-10.27 22.95-22.94 22.95-12.67 0-22.95-10.27-22.95-22.95 0-12.67 10.28-22.94 22.95-22.94z"/></svg>
                        <span class="has-text-weight-bold is-size-4 ml-4 has-text-primary-00">FoodLog</span>
                    <% end %>
                </div>

                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                        <%= link_to "New entry", new_entry_path, class: "button is-link"%>
                        </span>
                    </div>
                </div>

            </div>
        </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                <% if content_for(:title) %>
                    <%= yield :title %>
                <% else %>
                    FoodLog
                <% end %>
            </h1>
        </div>
    </div>

</section>
